@page
@model Restaurant.Admin.Pages.menuModel
@{
    ViewData["title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<link href="~/css/menu1.css" rel="stylesheet" />

<h1>Menu Page</h1>

<form method="post">
    <table>
        <thead>
            <tr>
                <th>MenuName</th>
                <th>Description</th>
                <th>Price</th>
                <th>Edit / Delete</th>
                <th>Buy</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var menuitem in Model.Restaurant2022)
            {
            <tr>
                <td>@menuitem.MenuName</td>
                <td>@menuitem.Description</td>
                <td>@menuitem.Price.ToString("C")</td>
                @{
                    try
                    {
                        <td>
                            <img src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(menuitem.ImageData))" alt="@menuitem.ImageDescription" />
                        </td>
                    }
                    catch
                    {
                        <td>
                            <img src="/images/empty.jpg" alt="No Image provided" />
                        </td>
                    }
                }
                <td>
                    <button type="submit" asp-page-handler="Buy"
                            asp-route-itemID="@menuitem.ID">
                        Buy
                    </button>
                </td>

                <td>
                    <a asp-page="/Admin/edit" asp-route-id="@menuitem.ID">Edit</a>
                    <button type="submit" asp-page-handler="Delete" asp-route-itemID="@menuitem.ID">Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <h2>Search</h2>
   
        <div>Search : <input asp-for="Search" /></div>
        <button type="submit" asp-page-handler="Search">Search</button>
    </form>
